$color-one: #e8e8e8;
$color-two: #f0e1d1;
$color-three: #e9b26e;
$color-four: #26436c;
$color-five: #0e1a27;

body {
    background-color: $color-five;
    color: $color-two;
    font-size: 16px; // Default font size for all screens

    @media (min-width: 600px) and (max-width: 1023px) {
        // Tablet styles
        font-size: 18px; // Adjust font size for tablets
    }

    @media (min-width: 1024px) {
        // Desktop styles
        font-size: 20px; // Adjust font size for desktops
    }
}

header {
    align-items: center;
    text-align: center;
    h1 {
        align-items: center;
        text-decoration: solid;
        text-shadow: 2px 2px 4px $color-four; // Adjust the values as needed
        background-image: url('C:/Users/Tsewang/Downloads/characters.jpeg');
        background-size: contain; // Adjust as needed
        background-position: center; // Adjust as needed
        height: 150px;
        padding-top: 0px;
        font-size: 110px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        @media (max-width: 599px) {
            // Mobile styles
            text-decoration: none; // Remove underline for mobile
            text-shadow: none; // Remove text shadow for mobile
            font-size: 60px;
            element{
                padding-top: 20px;
            }
        }
    }

    #quote {
        color: $color-three;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 800px; // Set the maximum width for the #quote element
        margin: 0 auto; // Center-align the quote horizontally

        @media (max-width: 599px) {
            // Mobile styles
            max-width: 100%; // Allow the element to take the full width of the viewport
            text-decoration: none; // Remove underline for mobile
            text-shadow: none; // Remove text shadow for mobile
  
        }
    }
}
.about {
    text-align: center;

    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p {
        max-width: 800px; // Set the maximum width for the p element
        margin: 0 auto; // Center-align the paragraph horizontally

        @media (max-width: 599px) {
            // Mobile styles
            max-width: 100%; // Allow the element to take the full width of the viewport
            text-decoration: none; // Remove underline for mobile
            text-shadow: none; // Remove text shadow for mobile
        }
    }
}
